body {
  font-family: Arial, sans-serif;
}

.slider-container {
  width: 90%;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
}

.product-card {
  min-width: 250px;
  background: #fff;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.product-card img {
  width: 100%;
  border-radius: 8px;
}

.product-card h4 {
  margin: 10px 0 5px;
}

.product-card p {
  color: #e91e63;
  font-weight: bold;
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

.btn:hover {
  background: black;
}
